:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 10%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titleContainer{
  display: flex;
  justify-content: center;  
  background-color: hsl(0, 0%, 15%);
  border-radius: 14px;
  margin: 24px;
}

.titleContainer h1 {
  font-size: 1.7rem;
}

.outerConverterContainer{
  display: flex;
  flex-direction: column;
}

.converterContainer,
  .resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
  border-radius: 14px;
  margin: 0 24px;
}

.converterContainer{
  padding-top: 14px;
}

.converterFromContainer,
  .converterToContainer,
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 14px;
}

.converterContainer label {
  font-size: 1.0rem;
  margin-bottom: 14px;
}

.converterContainer select {
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 6px;
  margin-bottom: 14px;
  width: 162px;
}

.converterContainer input {
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 14px;
  padding: 6px;
  width: 150px;
}

.resultsContainer {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .titleContainer h1 {
    font-size: 2rem;
  }

  .converterContainer{
    flex-direction: row;
    justify-content: space-between;
  }
  .converterContainer label {
    font-size: 1.2rem;
  }

  .converterContainer select {
    font-size: 1rem;
  }

  .converterContainer input {
    font-size: 1.1rem;
  }

  .resultsContainer p {
    font-size: 1.2rem;
  }

  .converterFromContainer {
    margin-left: 24px;
  }

  .converterToContainer {
    margin-right: 24px;
  }
}